<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'basepage.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <style>
        a{
            text-decoration: none;
            padding-left: 5px;
        }
    </style>
</head>
<body>
    <nav>
        <a href="/">Home</a>
        {% if user.is_authenticated %}
            <a href="logout">Logout</a>
            <a href="search">Search</a>
            <a href="link">Resources</a>
            <a href="history">View History</a>
        {% else %}
           <a href="login">Login</a>
        {% endif %}
    </nav>
    {%block history %}

    {% endblock %}

    {%block outer %}
    
    {% endblock %}
    
    {% block content %}

    {% endblock %}

    {% block links %}

    {% endblock %}

    {% block questions %}

    {% endblock %}
</body>
</html>