{% extends 'basepage.html' %}

{% block links %}
    {% load static %}
    <head>
        <link rel="stylesheet" href="{% static 'links.css' %}">
    </head>
    <div>

    {% if user.is_authenticated %}
        <h2>Hi {{user.first_name}} you can find some useful resources for {{query}} here</h2>
    {% endif %}

    <form method="post" action="link" >
        {% csrf_token %}
        <input type="text" id="search" name="query" onclick="reload()" class="searchbar"/>
        <button type="submit" class="submit_btn" style="height:30px;width:40px"><i class="fa fa-search"></i></button>
    </form>

    {% if links|length  > 0 %}
        <h2>Resources for {{query}}</h2>
        {% for l in links %}
            <div>
                <a href={{l}}>{{l}}</a>
            </div>
        {% endfor %}
    {% endif %}

    {% if videos|length  > 0 %}
        <h3>Additional Video Resources for {{query}}</h3>
        {% for v in videos %}
            <div>
                <a href={{v}}>{{v}}</a>
            </div>
        {% endfor %}
    {% endif %}
{% endblock %}