<form class='form' action="login" method="post">
    {% csrf_token %}
    <div>    
        <div class='space'>
        <label>Username : </label>
        <input type = 'text' name="username" id='Username' class='input'/>
        </div>
        <div class='space'>
        <label>Password : </label>
        <input type = 'password' name="password" id='password' class='input'/>
        </div>
        <div class='submit'>
        <input type='submit' text='submit' id='submit'/>
        </div>
    </div>
</form>

{% for message in messages %}
   <p>{{message}}</p>
{% endfor %}