{% load static %}
<head>
    {% load bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
    <link rel="stylesheet" href="{% static 'signup.css' %}">
</head>

<div class="center">
    <div class="row">
        <div class="col">
            <div id="carouselExampleInterval" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-inner">
                  <div class="carousel-item active" data-bs-interval="10000">
                    <img src="https://www.shutterstock.com/shutterstock/photos/1013125333/display_1500/stock-photo-notebook-with-question-are-you-ready-for-exams-and-alarm-clock-on-table-1013125333.jpg" class="d-block w-100" alt="...">
                  </div>
                  <div class="carousel-item" data-bs-interval="2000">
                    <img src="https://www.shutterstock.com/shutterstock/photos/1013125333/display_1500/stock-photo-notebook-with-question-are-you-ready-for-exams-and-alarm-clock-on-table-1013125333.jp" class="d-block w-100" alt="Not displayed">
                  </div>
                  <div class="carousel-item">
                    <img src="https://www.shutterstock.com/shutterstock/photos/1013125333/display_1500/stock-photo-notebook-with-question-are-you-ready-for-exams-and-alarm-clock-on-table-1013125333.jp" class="d-block w-100" alt="Not displayed">
                  </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="prev">
                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="next">
                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Next</span>
                </button>
              </div>
        </div>
        <div class="col">
            <h1>Login</h1>
            <form class='form' action="login" method="post">
                {% csrf_token %}
                <div>    
                    <div>
                    <label>Username : </label>
                    <input type = 'text' name="username" id='Username'/>
                    </div>
                    <div>
                    <label>Password : </label>
                    <input type = 'password' name="password" id='password'/>
                    </div>
                    <div>
                      <button type="submit" class="btn btn-outline-success" >Login</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>


{% for message in messages %}
   <p>{{message}}</p>
{% endfor %}