<script>
    function reload(){
        console.log(window.location.href == 'http://127.0.0.1:8000/search/result/');

    if(window.location.href == 'http://127.0.0.1:8000/search/result/')
        location.replace('http://127.0.0.1:8000/search/')
    }

    function focus(){
        document.getElementById('search').focus();
    }
</script>
<body onload="focus()">
    <h3>Hi how can I help you {{user.first_name}}</h3>
    <a href="logout">Logout</a>
    <form method="post" action="result/" >
        {% csrf_token %}
        <input type="text" id="search" name="search" onclick="reload()"/>
        <input type="submit" value="submit" />
    </form>
    <a href="">View History</a>

    {% block content %}

    {% endblock %}
</body>