<form className='form' class="center">
    <div>
        <div>
            <label>Name : </label>
            <input type = 'text' id='Username' className='input'/>
        </div>
        <div>
            <label>Username : </label>
            <input type = 'text' id='Username' className='input'/>
        </div>
        <div>
            <label>Password : </label>
            <input type = 'password' id='password' className='input'/>
        </div>
        <div>
            <input type='submit' text='submit' id='submit'/>
        </div>
    </div>
</form>